*{
    background: black;
    color: white;
    font-family: 38px extra-bold;
    padding: 0;
    margin: 0;
}

/*navigation bar*/

section.nev-bar-container{
    max-height: 320px;
    display: flex;
    position: fixed;
}

img.logo{
    max-width: 20rem;
    height: auto;
    flex: 1;
}
div.nav-container{
    display: flex;
    flex: 1;
}
div.nav-container.nav-container-item{
    flex: 1;
}

/*front page*/
section.Home{
    
   
}
section.header{
    display: flex;
}
ul.whyme{
    background-color: white;
}
img.frontPAGEleft{
    max-width:80vh;
    height: auto;
    flex: 2;
}
div.frontPAGEright{
    font-size: xx-large;
    margin-top: 25%;
    margin-left: 15%;
    flex: 1;
}
div.frontpage{
    display: flex;
}
div.frontPAGE{
    margin-left: 100px;
    ;
}