*{
   margin: 0;
   padding: 0;
   font-family: 'Sofia Sans Semi Condensed', sans-serif;
  
}
/*landing page*/
.logo-nev-bar-container{
    display: flex;
    background-color:black;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 3px 1%;
}

.nev-bar-container{
    display: flex;
    background-color:black;
    color: white;
   
    
}
.nev-bar-container-item{
   margin: 29px;
}
.frontpage{
    display: flex;
    background-color:black;
    color: white;
    align-items: center;
    justify-content: center;
   
    
}

.front-left-letters{
    font-size: 2.5rem;
    justify-content: center;
    margin: 2%;
}
img.front-right-img{
    width: 28rem;
    height: auto;
    margin-inline: 8%;
    
}
img.logo-container{
    width: 10rem;
    height: auto;
}
div.whyme{
    display: flex;
    flex-wrap: wrap;
    margin-top:1rem ;
    margin-bottom: 1rem;
    
}
div.whyme div{
    border: 1px solid black;
    border-radius: 20px;
    padding:2rem;
    margin: auto;
}